*{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    color: #202223;
    
}
body{
    background-color: #b9b8b791;
}
img{
    border: none;
}

ul,ol{
    list-style-type: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.wrapper{
    max-width: 1000px;
    
    margin: 0px auto;
    
    box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.4);
    
    
}

.clearing-div{
    clear: both;
}
.div-1{
    height: 650px;
    width: 1000px;
    background-image: url(../images/Notebook.jpg);
    background-repeat: no-repeat;
    background-size: 1000px 650px;
}

.menu{
    text-align: center;
}

ul{}
ul>li{
    display: inline-block;
    line-height: 80px;
}
ul>li>a{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: ;
    padding: 10px 10px;
    border-radius: 15px;
    transition: all linear 0.6s;
    color: whitesmoke;
}

ul>li>a:hover{
    background-color: black;
    color: white;
    
}

.home-button {
    background-color: tomato;
    border-radius: 0px;
}
.home-button:hover{
    background-color: black;
    color: white;
    transition: all linear 0.7s;
    
}

.div-2{
    height: 700px;
    width: 1000px;
    background-color: #acaeaf;
    
}


.div-3{
    height: 600px;
    width: 1000px;
    background-color: #262a2b;
    
}

.main-div{
    height: 1391px;
    width: 750px;
    background-color: transparent;
    z-index: 1;
    margin: 0px auto;
    margin-top: -1805px;
    background-image: linear-gradient(transparent, rgb(27, 26, 26),  rgb(27, 26, 26), #262a2b); 
    box-shadow: 1px 1px 8px 8px rgba(0,0,0,0.4);
    border-radius: 5px;
    
    
}
/* about me part code start here*/
.about-me{
    height: 450px;
    
    padding: 0px 30px 0px 30px ;
    
}
.about-me h1{
    font-size: 70px;
    text-transform: uppercase;
    font-family: agency fb;
    color: whitesmoke;
    letter-spacing: 5px;
}
.designer{
    width: 50%;
    height: 450px;
    text-align: center;
}
.i-make{
    
    color: whitesmoke;
    font-family: 'Cookie', cursive;
    font-size: 25px;
}
.my-description{
    color: whitesmoke;
    font-family: 'Satisfy', cursive;
}
button{
    margin-top: 15px;
    height: 30px;
    width: 100px;
    background-color: rgb(245, 53, 53);
    color: whitesmoke;
    border-radius: 33px;
}
.our-team{
    height: 460px;
    padding: 0px 40px;
    margin-top: 50px;
    
}
.our-team-left h2,h3{
    color: rgb(152, 154, 153);
    text-align: right;
    text-decoration: underline;
   
}


.our-team-left{
    height: 100%;
    width: 47%;
    float: left;
    color: rgb(152, 154, 153);
    
}
.our-team-left p{
    text-align: right;
    color: rgb(152, 154, 153);
}
.our-team-right{
    height: 100%;
    width: 47%;
    float: right;
    
    
    
}



.our-team-right img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    
    
}

.our-team-right-text{
    float: right;
    width: 65%;
    margin-top: 20px;
    
}
.our-team-right-text h5{
    text-align: left;
    color: rgb(152, 154, 153);
}

.our-team-right p{
    color: rgb(152, 154, 153);
    font-size: 14px;
}
.selected-work{
    height: 430px;
    background-color: rgb(135, 137, 138);
    margin: 0px auto;
    border-radius: 0px 0px 5px 5px;
    
}
.selected-work button{
    background-color: #697169;
    color: #000;
    font-weight: bold;
    
}
.button-div{
    text-align: center;
    padding-top: 10px;
}

.img-div{
    text-align: center;
    margin-top: 20px;
}
.img-div img{
    height: 143px;
    width: 300px;
    margin: 3px;
    border: 1px solid #000;
    box-shadow: 1px 2px 2px 1px;
    
}
.circle-1{
    height: 30px;
    width: 60px;
    
    background-color: rgb(135, 137, 138);
    z-index: 1;
    margin: 0px auto;
    margin-top: -30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
}

.circle-2{
    height: 30px;
    width: 60px;
    background-color: #262a2b;
    z-index: 1;
    margin: 0px auto;
    margin-top: -30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: inset 0px 4px 4px 1px rgba(0,0,0,0.4);

}

.contract-us{
    
    
    height: 155px;
    text-align: center;
    
    
}
.contract-us p{
    font-size: 20px;
    color: #334037;
    text-align: center;
    background-color: #acaeaf;
    display: inline-block;
    border-radius: 33px;
    padding: 3px 15px;
    
}

div{
    
}
.contract-from{
    
   
    margin: 20px 190px;
      
}
.contract-us-left{
    float: left;
   
}
.name{
    height: 30px;
    width: 250px;
    border-radius: 5px;
    margin: 3px;
}

#massage{
    height: 70px;
    width: 350px;
    border-radius: 5px;
    margin: 3px;
}
.contract-us-right{
    float: left;
   
}

.submit{
   
    height: 30px;
    width: 100px;
    background-color: rgb(245, 53, 53);
    color: whitesmoke;
    margin-left: 450px;
}

.contract{
    text-align: center;
    color: whitesmoke;
}



